@inherits OwningComponentBase
@implements IDisposable
@page "/identity/users"
@using Blazor.Server.UI.Components.Dialogs
@using CleanArchitecture.Blazor.Application.Common.Interfaces.Identity
@using CleanArchitecture.Blazor.Application.Common.Interfaces.MultiTenant
@using CleanArchitecture.Blazor.Infrastructure.Constants.Role
@using CleanArchitecture.Blazor.Infrastructure.Services
@using CleanArchitecture.Blazor.Infrastructure.Services.Authentication
@using Duende.IdentityServer.Events
@using Microsoft.AspNetCore.Components.Server.Circuits
@using Microsoft.AspNetCore.Identity
@inject IStringLocalizer<Users> L
@attribute [Authorize(Policy = Permissions.Users.View)]
<PageTitle>@Title</PageTitle>
<style>
    .mud-table-toolbar {
        height: 84px !important;
    }
</style>
<ErrorBoundary>
    <ChildContent>

        <MudTable Items="_userList"
                  FixedHeader="true"
                  FixedFooter="true"
                  Height="calc(100vh - 265px)"
                  Hover="true"
                  MultiSelection="true"
                  SelectedItems="_selectItems"
                  SortLabel="@PromptText.ORDERBY"
                  Loading="@_loading"
                  Filter="new Func<UserFormModel,bool>(_quickFilter)">
            <ToolBarContent>
                <div class="justify-start pt-3">
                    <MudText Typo="Typo.h6">Users</MudText>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                        <MudButton DisableElevation Variant="Variant.Outlined"
                                   Size="Size.Small"
                                   Disabled="@_loading"
                                   OnClick="@(()=>OnRefresh())"
                                   StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Primary"
                                   Style="margin-right: 4px; margin-bottom:4px">@ButtonText.REFRESH</MudButton>
                        @if (_canCreate)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   Size="Size.Small"
                                   Style="margin-right: 4px; margin-bottom:4px"
                                   OnClick="OnCreate"
                                   IconColor="Color.Surface">@ButtonText.CREATE</MudButton>
                        }
                        @if (_canDelete)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Error"
                                   StartIcon="@Icons.Material.Filled.Delete"
                                   Disabled="@(!(_selectItems.Count>0))"
                                   Size="Size.Small"
                                   Style="margin-right: 4px; margin-bottom:4px"
                                   OnClick="OnDeleteChecked"
                                   IconColor="Color.Surface">@ButtonText.DELETE</MudButton>
                        }
                        @if (_canImport)
                        {
                            <InputFile id="importdataInput" OnChange="OnImportData" hidden accept=".xlsx" />
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Upload"
                                   Size="Size.Small"
                                   Style="margin-right: 4px; margin-bottom:4px"
                                   for="importdataInput"
                                   HtmlTag="label"
                                   IconColor="Color.Surface">@ButtonText.IMPORT</MudButton>
                        }
                        @if (_canExport)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Download"
                                   Size="Size.Small"
                                   Style="margin-right: 4px; margin-bottom:4px"
                                   IconColor="Color.Surface">@ButtonText.EXPORT</MudButton>
                        }
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                        <MudMenu AnchorOrigin="Origin.BottomLeft" StartIcon="@Icons.Filled.KeyboardCommandKey" EndIcon="@Icons.Filled.KeyboardArrowDown" Label="@L["Action"]" Color="Color.Primary" Variant="Variant.Filled">
                            <MudMenuItem Disabled="@_loading" OnClick="@(()=>OnRefresh())">@ButtonText.REFRESH</MudMenuItem>
                            @if (_canCreate)
                            {
                                <MudMenuItem OnClick="OnCreate">@ButtonText.CREATE</MudMenuItem>
                            }
                            @if (_canDelete)
                            {
                                <MudMenuItem OnClick="OnDeleteChecked">@ButtonText.DELETE</MudMenuItem>
                            }
                            @if (_canImport)
                            {
                                <InputFile id="importdataInput" OnChange="OnImportData" hidden accept=".xlsx" />
                                <MudMenuItem for="importdataInput"
                                         HtmlTag="label">@ButtonText.IMPORT</MudMenuItem>
                            }
                            @if (_canExport)
                            {
                                <MudMenuItem OnClick="OnExport">@ButtonText.EXPORT</MudMenuItem>
                            }
                        </MudMenu>
                    </MudHidden>
                </div>
                <MudSpacer />
                @if (_canSearch)
                {
                    <MudTextField @bind-Value="_searchString" Immediate="true" FullWidth="false"
                              Placeholder="@(L["Search for user name"])" Adornment="Adornment.End"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3">
                    </MudTextField>
                }
            </ToolBarContent>
            <ColGroup>
                <col style="width:50px;" />
                <col style="width:120px;" />

            </ColGroup>
            <HeaderContent>
                <MudTh Style="width:80px">@PromptText.ACTIONS</MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ApplicationUser, object>(x=>x.TenantName)">@L["Tenant Name"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ApplicationUser, object>(x=>x.UserName)">@L["User Name"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ApplicationUser, object>(x=>x.Provider)">@L["Provider"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ApplicationUser, object>(x=>x.Email)">@L["Email"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ApplicationUser, object>(x=>x.PhoneNumber)">@L["Phone Number"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ApplicationUser, object>(x=>x.IsActive)">@L["Is Active"]</MudTableSortLabel></MudTh>
                <MudTh>@L["Lock Status"]</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="@PromptText.ACTIONS">
                    @if (_canEdit || _canManageRoles || _canRestPassword || _canActive)
                    {
                        <MudMenu Label="@PromptText.ACTIONS" Variant="Variant.Filled" DisableElevation="true"
                             Size="Size.Small"
                             Dense="true"
                             EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Info" Direction="Direction.Left"
                             OffsetX="true">
                            @if (_canEdit)
                            {
                                <MudMenuItem OnClick=@(()=>OnEdit(context))>@ButtonText.EDIT</MudMenuItem>
                            }
                            @if (_canActive)
                            {
                                @if (context.IsActive)
                                {
                                    <MudMenuItem OnClick=@(()=>OnSetActive(context))>@L["Set Inactive"]</MudMenuItem>
                                }
                                else
                                {
                                    <MudMenuItem OnClick=@(()=>OnSetActive(context))>@L["Set Active"]</MudMenuItem>
                                }

                            }
                            @if (_canRestPassword)
                            {
                                <MudMenuItem OnClick=@(()=>OnResetPassword(context))>@L["Rest Password"]</MudMenuItem>
                            }

                        </MudMenu>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" DisableElevation="true"
                               StartIcon="@Icons.Material.Filled.DoNotTouch" IconColor="Color.Secondary" Size="Size.Small"
                               Color="Color.Surface">
                            @ButtonText.NOALLOWED
                        </MudButton>
                    }
                </MudTd>
                <MudTd DataLabel="@L["Tenant Name"]">
                    <MudText>@context.TenantName</MudText>
                    <MudText Typo="Typo.body2">@context.TenantId</MudText>
                </MudTd>
                <MudTd DataLabel="@L["User Name"]">
                    <div class="d-flex align-content-center flex-wrap">
                        <MudBadge Color="@(context.IsLive? Color.Success :Color.Error)" Overlap="false" Dot="true" Bordered="true">
                            <MudAvatar Image="@context.ProfilePictureDataUrl" Alt="@context.UserName">@context.UserName.First()</MudAvatar>
                        </MudBadge>
                        <div class="d-flex flex-column">
                            <MudText Class="ml-2 align-self-center">@context.UserName</MudText>
                            <MudText Typo="Typo.body2" Class="ml-2 align-self-center">@context.DisplayName</MudText>
                        </div>
                    </div>
                </MudTd>
                <MudTd DataLabel="@L["Provider"]">@context.Provider</MudTd>
                <MudTd DataLabel="@L["Email"]">@context.Email</MudTd>
                <MudTd HideSmall="true" DataLabel="@L["Phone Number"]">@context.PhoneNumber</MudTd>
                <MudTd HideSmall="true" DataLabel="@L["Is Active"]">
                    <MudCheckBox Checked="@context.IsActive" ReadOnly Color="Color.Secondary"></MudCheckBox>
                </MudTd>
                <MudTd HideSmall="true" DataLabel="@L["Lock Status"]">@context.LockoutEnd</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>


    </ChildContent>
    <ErrorContent>
        <CustomError Exception="context"></CustomError>
    </ErrorContent>
</ErrorBoundary>

@code {
    [Inject]
    private IUsersStateContainer UsersStateContainer { get; set; } = default!;
    private List<UserFormModel> _userList = new();
    private HashSet<UserFormModel> _selectItems = new();
    private string _searchString = string.Empty;
    private string Title { get; set; } = "Users";

    [CascadingParameter]
    protected Task<AuthenticationState> AuthState { get; set; } = default!;
    private UserManager<ApplicationUser> UserManager { get; set; } = default!;
    [Inject]
    public CircuitHandler CircuitHandler { get; set; } = default!;
    [Inject]
    private ProfileService ProfileService { get; set; } = default!;
    [Inject]
    private ITenantProvider TenantProvider{ get; set; }= default!;
    
    private bool _canCreate;
    private bool _canSearch;
    private bool _canEdit;
    private bool _canDelete;
    private bool _canActive;
    private bool _canManageRoles;
    private bool _canRestPassword;
    private bool _canImport;
    private bool _canExport;
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        UserManager = ScopedServices.GetRequiredService<UserManager<ApplicationUser>>();

        Title = L["Users"];
        var state = await AuthState;
        _canCreate = (await AuthService.AuthorizeAsync(state.User, Permissions.Users.Create)).Succeeded;
        _canSearch = (await AuthService.AuthorizeAsync(state.User, Permissions.Users.Search)).Succeeded;
        _canEdit = (await AuthService.AuthorizeAsync(state.User, Permissions.Users.Edit)).Succeeded;
        _canDelete = (await AuthService.AuthorizeAsync(state.User, Permissions.Users.Delete)).Succeeded;
        _canActive = (await AuthService.AuthorizeAsync(state.User, Permissions.Users.Active)).Succeeded;
        _canManageRoles = (await AuthService.AuthorizeAsync(state.User, Permissions.Users.ManageRoles)).Succeeded;
        _canRestPassword = (await AuthService.AuthorizeAsync(state.User, Permissions.Users.RestPassword)).Succeeded;
        _canImport = false; // (await AuthService.AuthorizeAsync(state.User, Permissions.Users.Import)).Succeeded;
        _canExport = false; // (await AuthService.AuthorizeAsync(state.User, Permissions.Users.Export)).Succeeded;
        await LoadData();
        UsersStateContainer.OnChange += HandleCircuitsChanged;


    }
    public void Dispose()
    {
        UsersStateContainer.OnChange -= HandleCircuitsChanged;
    }

    private void HandleCircuitsChanged()
    {
        InvokeAsync(() =>
        {
            foreach (var session in UsersStateContainer.UsersByConnectionId)
            {
                Snackbar.Add(string.Format(
                       L["{0} session changed."], session.Value), MudBlazor.Severity.Info);
            }

        });
    }

    private Func<UserFormModel, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if (x.UserName is not null && x.UserName.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.DisplayName is not null && x.DisplayName.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{x.Email} {x.PhoneNumber} {x.Provider}".Contains(_searchString))
            return true;
        return false;
    };
    private async Task OnRefresh()
    {

        await LoadData();

    }
    private async Task LoadData()
    {
        if (_loading) return;
        try
        {
            _loading = true;
            _userList = await UserManager.Users.Select(x => new UserFormModel()
                {
                    ProfilePictureDataUrl = x.ProfilePictureDataUrl,
                    DisplayName = x.DisplayName,
                    Email = x.Email,
                    IsActive = x.IsActive,
                    IsLive = x.IsLive,
                    PhoneNumber = x.PhoneNumber,
                    Provider = x.Provider,
                    Id = x.Id,
                    UserName = x.UserName,
                    TenantId = x.TenantId,
                    TenantName = x.TenantName,
                    LockoutEnd = x.LockoutEnd,
                    Role = string.Join(", ", x.UserRoles.Select(x => x.Role.Name))
                }).ToListAsync();
        }
        finally
        {
            _loading = false;
        }
    }
    private async Task OnCreate()
    {
        var model = new UserFormModel() { Provider = "Local", AssignRoles = new string[] { RoleConstants.BasicRole } };
        var parameters = new DialogParameters { ["model"] = model };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<_UserFormDialog>(L["Create a new user"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var applicationUser = new ApplicationUser()
                {
                    Provider = model.Provider,
                    DisplayName = model.DisplayName,
                    UserName = model.UserName,
                    TenantId = model.TenantId,
                    TenantName = model.TenantName,
                    Email = model.Email,
                    PhoneNumber = model.PhoneNumber,
                    ProfilePictureDataUrl = model.ProfilePictureDataUrl,
                    IsActive = model.IsActive,
                };
            var password = model.Password;
            var state = await UserManager.CreateAsync(applicationUser, password);

            if (state.Succeeded)
            {
                if (model.AssignRoles is not null && model.AssignRoles.Length > 0)
                {
                    await UserManager.AddToRolesAsync(applicationUser, model.AssignRoles);
                }
                else
                {
                    await UserManager.AddToRoleAsync(applicationUser, RoleConstants.BasicRole);
                }
                _userList.Add(model);
                Snackbar.Add($"{ToastText.CREATESUCCESS}", MudBlazor.Severity.Info);
            }
            else
            {
                Snackbar.Add($"{string.Join(",", (state.Errors.Select(x => x.Description).ToArray()))}", MudBlazor.Severity.Error);
            }
        }
    }

    private async Task OnEdit(UserFormModel item)
    {
        var user = await UserManager.FindByIdAsync(item.Id);
        var roles = await UserManager.GetRolesAsync(user);
        item.AssignRoles = roles.ToArray();
        var parameters = new DialogParameters { ["model"] = item };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<_UserFormDialog>(L["Edit the user"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var state = await AuthState;
            user.Email = item.Email;
            user.PhoneNumber = item.PhoneNumber;
            user.ProfilePictureDataUrl = item.ProfilePictureDataUrl;
            user.DisplayName = item.DisplayName;
            user.Provider = item.Provider;
            user.UserName = item.UserName;
            user.IsActive = item.IsActive;
            user.TenantId = item.TenantId;
            user.TenantName = item.TenantName;
            var identityResult = await UserManager.UpdateAsync(user);
            if (identityResult.Succeeded)
            {
                if (item.AssignRoles is not null && item.AssignRoles.Length > 0)
                {
                    await UserManager.RemoveFromRolesAsync(user, roles);
                    await UserManager.AddToRolesAsync(user, item.AssignRoles);
                }
                if (state.User.GetUserId() == item.Id)
                {
                    await ProfileService.Update(new UserProfile()
                        {
                            UserId = user.Id,
                            Avatar = user.ProfilePictureDataUrl,
                            Email = user.Email,
                            PhoneNumber = user.PhoneNumber,
                            DisplayName = user.DisplayName,
                            Provider = user.Provider,
                            UserName = user.UserName,
                            IsActive = user.IsActive,
                            TenantId = user.TenantId,
                            TenantName = user.TenantName
                        });
                    if (user.TenantId is not null && user.TenantName is not null && state.User.GetTenantId() != user.TenantId)
                    {
                        await TenantProvider.SetTenant(user.TenantId);
                        state.User.SetTenantId(user.TenantId);
                        state.User.SetTenantName(user.TenantName);
                    }
                }
                Snackbar.Add($"{ToastText.UPDATESUCCESS}", MudBlazor.Severity.Info);
            }
            else
            {
                Snackbar.Add($"{string.Join(",", (identityResult.Errors.Select(x => x.Description).ToArray()))}", MudBlazor.Severity.Error);
            }
        }
    }

    private async Task OnDeleteChecked()
    {
        var state = await AuthState;
        var currentUserId = state.User.GetUserId();
        var isSelectedItemContainCurrentUser = _selectItems.Any(x => x.Id == currentUserId);

        if (isSelectedItemContainCurrentUser)
        {
            if (_selectItems.Count == 1)
            {
                Snackbar.Add($"{ToastText.DELETEFAIL}", MudBlazor.Severity.Error);
                return;
            }
            
            _selectItems.Remove(_selectItems.First(x=>x.Id == currentUserId));
        }
    
        string deleteContent = PromptText.DELETECONFIRMATION;
        var parameters = new DialogParameters { { nameof(DeleteConfirmation.ContentText), string.Format(deleteContent, _selectItems.Count) } };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, DisableBackdropClick = true };
        var dialog = DialogService.Show<DeleteConfirmation>(L["Delete"], parameters, options);
        var result = await dialog.Result;
        
        if (!result.Cancelled)
        {
            var deleteId = _selectItems.Select(x => x.Id).ToArray();
            var deleteUsers = await UserManager.Users.Where(x => deleteId.Contains(x.Id) ).ToListAsync();
            
            foreach (var deleteUser in deleteUsers)
                await UserManager.DeleteAsync(deleteUser);
            
            foreach (var item in _selectItems)
                _userList.Remove(item);
        }
            
    }

    private async Task OnSetActive(UserFormModel item)
    {
        var user = await UserManager.FindByIdAsync(item.Id);
        user.IsActive = !item.IsActive;
        var state = await UserManager.UpdateAsync(user);
        item.IsActive = !item.IsActive;
        if (state.Succeeded)
        {
            Snackbar.Add($"{ToastText.UPDATESUCCESS}", MudBlazor.Severity.Info);
        }
        else
        {
            Snackbar.Add($"{string.Join(",", (state.Errors.Select(x => x.Description).ToArray()))}", MudBlazor.Severity.Error);
        }
    }

    private async Task OnResetPassword(UserFormModel item)
    {

        var model = new ResetPasswordFormModel()
            { Id = item.Id, DisplayName = item.DisplayName, UserName = item.UserName, ProfilePictureDataUrl = item.ProfilePictureDataUrl };
        var parameters = new DialogParameters { ["model"] = model };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = DialogService.Show<_ResetPasswordDialog>(L["Set Password"], parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {

            var user = await UserManager.FindByIdAsync(item.Id);
            var token = await UserManager.GeneratePasswordResetTokenAsync(user);
            var state = await UserManager.ResetPasswordAsync(user, token, model.Password);
            if (state.Succeeded)
            {
                Snackbar.Add($"{L["Reset password successfully"]}", MudBlazor.Severity.Info);
            }
            else
            {
                Snackbar.Add($"{string.Join(",", (state.Errors.Select(x => x.Description).ToArray()))}", MudBlazor.Severity.Error);
            }
        }
    }

    private Task OnExport()
    {
        return Task.CompletedTask;
    }

    private Task OnImportData(InputFileChangeEventArgs e)
    {
        return Task.CompletedTask;
    }
}
