@inherits MudComponentBase

<MudElement @attributes="@UserAttributes"
            Class="@Classname"
            Style="@Style">
    <MudPaper Class="pa-4"
              Elevation="2">
        <div class="align-center d-flex"
             style="height: 60px">
            <MudText Typo="Typo.h6">
                Top Applications
            </MudText>
        </div>
        <MudList>

            @foreach (var application in _applications)
            {
                <MudListItem>
                    <div class="align-center d-flex">
                        <div class="d-flex mr-6">
                            <MudAvatar Square="true"
                                       Variant="Variant.Outlined">
                                <MudIcon Icon="@application.Icon" />
                            </MudAvatar>
                        </div>

                        <div class="align-start d-flex flex-column">
                            <MudText>@application.Title</MudText>
                            <MudChip Color="@(application.Price == 0 ? Color.Success : Color.Error)"
                                     Size="Size.Small"
                                     Variant="Variant.Text">
                                @(application.Price == 0 ? "Free" : $"${application.Price}")
                            </MudChip>
                        </div>
                        <MudSpacer />
                        <div class="d-flex flex-column">
                            <MudRating @bind-SelectedValue="application.ReviewScore"
                                       ReadOnly="true" />
                            <MudText Typo="Typo.caption">
                                @($"{application.NumberOfReview} reviews")
                            </MudText>
                        </div>
                    </div>
                </MudListItem>
            }
        </MudList>
    </MudPaper>
</MudElement>

<style>
    .mud-avatar-square{
    border-radius: var(--mud-default-borderradius);
    }
    
</style>