@using Microsoft.AspNetCore.Antiforgery
@layout MainLayout
@inherits LayoutComponentBase
@inject LayoutService LayoutService
@inject IAntiforgery _antiforgery;
@inject IHttpContextAccessor _httpContextAccessor;
@inject IStringLocalizer<SharedResource> L
<MudLayout>
    <MudAppBar Elevation="0"
               Style="background: --mud-palette-appbar-background">
        <NavLink ActiveClass="d-flex align-center me-4" href="/">
            <MudIcon Class="ml-6 mr-2"
                     Color="Color.Primary"
                     Icon="@Icons.Custom.Brands.MudBlazor"
                     Size="Size.Large"/>
            <MudText Typo="Typo.subtitle2">
                <b>@L[ApplicationSettings.AppName]</b>
            </MudText>
        </NavLink>
        <MudSpacer/>
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudTooltip Arrow="true"
                        Text="Navigate to GitHub">
                <MudIconButton Class="mx-1"
                               Color="Color.Default"
                               Icon="@Icons.Custom.Brands.GitHub"
                               Href="https://github.com/neozhu/CleanArchitectureWithBlazorServer"
                               Target="_blank"/>
            </MudTooltip>
            <LanguageSelector/>
            <MudTooltip Text="@(LayoutService.IsRTL ? "Toggle right-to-left" : "Toggle left-to-right")">
                <MudIconButton Class="mx-1"
                               Icon="@(LayoutService.IsRTL ? Icons.Material.Filled.FormatTextdirectionLToR : Icons.Material.Filled.FormatTextdirectionRToL)"
                               Color="Color.Default"
                               OnClick="@(e => LayoutService.ToggleRightToLeft())"/>
            </MudTooltip>
            <AuthorizeView>
                <Authorized>
                    <form action="@IdentityComponentsEndpointRouteBuilderExtensions.Logout" method="post">
                        <input type="hidden" name="__RequestVerificationToken" value="@antiforgeryToken" />
                        <input type="hidden" name="ReturnUrl" value="/"/>
                        <MudTooltip Text="@L["Logout"]">
                            <MudButton Style="text-transform:none"
                                       ButtonType="ButtonType.Submit"
                                       Variant="Variant.Text"
                                       StartIcon="@Icons.Material.Filled.Logout">
                                @L["Logout"]
                            </MudButton>
                        </MudTooltip>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <MudTooltip Text="@L["Login"]">
                        <MudButton Variant="Variant.Text" OnClick="@(()=>Navigation.NavigateTo(Login.PageUrl,true))"
                                   StartIcon="@Icons.Material.Rounded.Login"
                                   Style="text-transform:none">
                            @L["Login"]
                        </MudButton>
                    </MudTooltip>
                </NotAuthorized>
            </AuthorizeView>

        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
            <LanguageSelector/>
            <AuthorizeView>
                <Authorized>
                    <form action="@IdentityComponentsEndpointRouteBuilderExtensions.Logout" method="post">
                        <input type="hidden" name="__RequestVerificationToken" value="@antiforgeryToken" />
                        <input type="hidden" name="ReturnUrl" value="/" />
                        <MudTooltip Text="@L["Logout"]">
                            <MudButton Style="text-transform:none"
                                       ButtonType="ButtonType.Submit"
                                       Variant="Variant.Text"
                                       StartIcon="@Icons.Material.Filled.Logout">
                                @L["Logout"]
                            </MudButton>
                        </MudTooltip>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <MudTooltip Text="@L["Login"]">
                        <MudButton Variant="Variant.Text" OnClick="@(()=>Navigation.NavigateTo(Login.PageUrl,true))"
                                   StartIcon="@Icons.Material.Rounded.Login"
                                   Style="text-transform:none">
                            @L["Login"]
                        </MudButton>
                    </MudTooltip>
                </NotAuthorized>
            </AuthorizeView>
        </MudHidden>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="mb-4 mt-4" Style="height:max-content">
            <MudPaper Class="pa-16 ma-2" Elevation="3" Square Style="height:100dvh;background: url(/img/pattern.svg) no-repeat center bottom; background-size: cover;">
                @Body
            </MudPaper>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code
{
    private string? antiforgeryToken;
    protected override void OnInitialized()
    {
        antiforgeryToken = getAntiforgeryToken();
    }
    private string? getAntiforgeryToken()
    {
        var httpContext = _httpContextAccessor.HttpContext;
        if (httpContext == null)
        {
            throw new InvalidOperationException("HttpContext is not available.");
        }
        var tokens = _antiforgery.GetAndStoreTokens(httpContext);
        return tokens.RequestToken;
    }
}