@using CleanArchitecture.Blazor.Application.Features.Loggers.DTOs
@using ApexCharts
@using CleanArchitecture.Blazor.Server.UI.Services
@using CleanArchitecture.Blazor.Server.UI.Services.Layout
@implements IDisposable
@inject IStringLocalizer<Logs> L

<div class="d-flex flex-grow-1 mb-2">
    <MudPaper Class="pa-5 flex-grow-1" Elevation="3" Style="@BackgroundColor">
        <ApexChart @ref="Chart" Options="Options" TItem="LogTimeLineDto" Height="180"
                      Debug
                   Title="@L["Collect logs by day"]">

            <ApexPointSeries TItem="LogTimeLineDto"
                             Items="Data"
                             Name="Count"
                             XValue="@(e => e.dt.ToString("MMM-d"))"
                             YValue="@(e=>e.total)"
                             YAggregate="@(e => e.Sum(e => e.total))"
                             SeriesType="SeriesType.Bar" />
        </ApexChart>
        </MudPaper>
    </div>

    
