@using CleanArchitecture.Blazor.Server.UI.Services.Fusion
@using ActualLab.Fusion
@using ActualLab.Fusion.Blazor
@using ActualLab.Fusion.UI

@inherits ComputedStateComponent<UserInfo[]>
@inject IOnlineUserTracker OnlineUserTracker
@inject IStringLocalizer<ActiveUserSession> L
@inject UserProfileStateService UserProfileStateService
@if (State.HasValue && State.LastNonErrorValue.Any())
{
    <div class="d-flex flex-row gap-2 my-3 gap-2 my-3">
        @foreach (var user in State.LastNonErrorValue.OrderBy(u => u.Name != currentUserName))
        {
            <MudBadge Color="Color.Success" Overlap="false" Dot="true" Bordered="true">
                @if (string.IsNullOrEmpty(user.ProfilePictureDataUrl))
                {
                    <MudAvatar title="@user.Name">
                        @user.Name.First()
                    </MudAvatar>
                }
                else
                {
                    <MudAvatar title="@user.Name">
                        <MudImage Src="@user.ProfilePictureDataUrl"></MudImage>
                    </MudAvatar>
                }
            </MudBadge>
        }
    </div>
}
@if(State.Error is not null)
{
    <MudAlert Severity="Severity.Error">@State.Error.Message</MudAlert>
}


@code {

    private string sessionId = Guid.NewGuid().ToString();
    private string? currentUserName;
    private UserProfile UserProfile => UserProfileStateService.UserProfile;
    [Inject] private UIActionTracker UIActionTracker { get; init; } = null!;
    private TimeSpan UpdateDelay { get; set; } = TimeSpan.FromSeconds(5);
    protected override async Task OnInitializedAsync()
    {
        currentUserName = UserProfile.UserName;
        await OnlineUserTracker.Add(sessionId, new UserInfo(UserProfile.UserId,
            UserProfile.UserName,
            UserProfile.Email,
            UserProfile.DisplayName ?? string.Empty,
            UserProfile.ProfilePictureDataUrl ?? string.Empty,
            UserProfile.SuperiorName ?? string.Empty,
            UserProfile.SuperiorId ?? string.Empty,
            UserProfile.TenantId ?? string.Empty,
            UserProfile.TenantName ?? string.Empty,
            UserProfile.PhoneNumber,
            UserProfile.AssignedRoles ?? Array.Empty<string>(),
            UserPresence.Available));
    }

    protected override ComputedState<UserInfo[]>.Options GetStateOptions()
     => new() { UpdateDelayer = new UpdateDelayer(UIActionTracker, UpdateDelay) };

    protected override Task<UserInfo[]> ComputeState(CancellationToken cancellationToken)
    {
        return OnlineUserTracker.GetOnlineUsers(cancellationToken);
    }

    public override async ValueTask DisposeAsync()
    {
        await OnlineUserTracker.Remove(sessionId);
        GC.Collect();
    }
}
