@page "/user/profile"

@inherits OwningComponentBase
@inject IStringLocalizer<Profile> L
@inject IJSRuntime JS
<PageTitle>@Title</PageTitle>
<ErrorBoundary>
    <ChildContent>
        @if(Model is null)
        {
            <MudProgressLinear Color="MudBlazor.Color.Primary" Indeterminate="true" Class="my-7" />
        }else{
        <MudTabs Outlined="true" Position="Position.Top" Rounded="true" Border="true" Elevation="6" ActivePanelIndexChanged="ActivePanelIndexChanged"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="@L["Profile"]">
                <MudForm Model="@Model" @ref="@_form" Validation="@(_userValidator.ValidateValue)" Style="display: flex; align-content: center;  align-items: center; flex-direction: column;">
                    <MudGrid Justify="Justify.Center" Style="max-width:600px;display:flex;">
                        <MudItem sm="12" xs="12">
                            <div class="d-flex justify-center">

                                @if (string.IsNullOrEmpty(Model.ProfilePictureDataUrl))
                                {
                                    <MudElement Class="d-flex flex-column  align-center">
                                        <MudAvatar Style="height:128px; width:128px; font-size:2rem;">@Model.UserName.ToUpper().First()</MudAvatar>
                                        <div class="d-flex">
                                            @if (Model.AssignedRoles is not null)
                                            {
                                                @foreach (var role in Model.AssignedRoles)
                                                {
                                                    <MudChip Size="MudBlazor.Size.Small">@role</MudChip>
                                                }
                                            }
                                        </div>

                                    </MudElement>
                                }
                                else
                                {
                                    <MudElement Class="d-flex flex-column  align-center">
                                        <MudAvatar Image="@Model.ProfilePictureDataUrl" Style="height:128px; width:128px; font-size:2rem;" />
                                        <div class="d-flex">
                                            @if (Model.AssignedRoles is not null)
                                            {
                                                @foreach (var role in Model.AssignedRoles)
                                                {
                                                                <MudChip Size="MudBlazor.Size.Small">@role</MudChip>
                                                }
                                            }
                                        </div>
                                    </MudElement>
                                }
                                <MudTooltip Text="@L["Click upload a photo."]">
                                    <InputFile id="UploadPhoto" OnChange="UploadPhoto" hidden accept=".jpg, .jpeg, .png" />
                                    <MudIconButton HtmlTag="label"
                                                   Color="MudBlazor.Color.Info"
                                                   Icon="@Icons.Material.Filled.PhotoCamera"
                                                   for="UploadPhoto"></MudIconButton>
                                </MudTooltip>
                            </div>
                        </MudItem>
                        <MudItem sm="6" xs="12">
                            <MudTextField For="@(() => Model.TenantName)" @bind-Value="Model.TenantName" Label="@L["Tenant Name"]" Variant="Variant.Text" ReadOnly="true"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField For="@(() => Model.SuperiorName)" @bind-Value="Model.SuperiorName" Label="@L["Superior Name"]" Variant="Variant.Text" ReadOnly="true"></MudTextField>
                        </MudItem>
                        <MudItem sm="6" xs="12">
                            <MudTextField For="@(() => Model.UserName)" @bind-Value="Model.UserName" Label="@L["User Name"]" Variant="Variant.Text" ReadOnly="true"></MudTextField>
                        </MudItem>
                        <MudItem sm="6" xs="12">
                            <MudTextField For="@(() => Model.Email)" @bind-Value="Model.Email" Label="@L["Email"]" Variant="Variant.Text" ReadOnly="true"></MudTextField>
                        </MudItem>
                        <MudItem sm="6" xs="12">
                            <MudTextField For="@(() => Model.DisplayName)" @bind-Value="Model.DisplayName" Label="@L["Display Name"]" Variant="Variant.Text"></MudTextField>
                        </MudItem>
                        <MudItem sm="6" xs="12">
                            <MudTextField For="@(() => Model.PhoneNumber)" @bind-Value="Model.PhoneNumber" Label="@L["Phone Number"]" Variant="Variant.Text"></MudTextField>
                        </MudItem>
                        <MudItem sm="12" xs="12" Class="d-flex justify-end">
                            <MudButton ButtonType="ButtonType.Button" Disabled="@_submitting" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Class="ml-auto" OnClick="@(async () => await Submit())">
                                @if (_submitting)
                                {
                                    <MudProgressCircular Class="ms-n1" Size="MudBlazor.Size.Small" Indeterminate="true" />
                                    <MudText Class="ms-2">@ConstantString.Waiting </MudText>
                                }
                                else
                                {
                                    <MudText>@ConstantString.Save</MudText>
                                }
                                </MudButton>
                        </MudItem>
                    </MudGrid>
                </MudForm>
            </MudTabPanel>
            <MudTabPanel Text="@L["Change Password"]">
                <MudForm Model="@Changepassword" @ref="@_Passwordform" Validation="@(_passwordValidator.ValidateValue)" Style="display: flex; align-content: center;  align-items: center; flex-direction: column;">
                    <MudGrid Justify="Justify.Center" Style="max-width:300px">
                        <MudItem sm="12" xs="12">
                            <MudPasswordField Immediate="true"
                                          Label="@L["Current Password"]"
                                          For="@(()=>Changepassword.CurrentPassword)"
                            @bind-Value="Changepassword.CurrentPassword"
                                          Variant="Variant.Text"
                                          PasswordMode="true"
                                          Required="true"
                                          RequiredError="@L["current password is required!"]"
                                           />
                        </MudItem>
                        <MudItem xs="12">
                            <MudPasswordField Immediate="true"
                                          Label="@L["New Password"]"
                                          For="@(()=>Changepassword.NewPassword)"
                            @bind-Value="Changepassword.NewPassword"
                                          Variant="Variant.Text"
                                              PasswordMode="true"
                                          Required="true"
                                          RequiredError="@L["password is required!"]"
                                           />
                        </MudItem>
                        <MudItem xs="12">
                            <MudPasswordField Immediate="true"
                                          Label="@L["Confirm New Password"]"
                                          For="@(()=>Changepassword.ConfirmPassword)"
                            @bind-Value="Changepassword.ConfirmPassword"
                                          Variant="Variant.Text"
                                              PasswordMode="true"
                                          Required="true"
                                          RequiredError="@L["password is required!"]"
                                           />
                        </MudItem>
                        <MudItem sm="12" xs="12" Class="d-flex justify-end">
                            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Class="ml-auto" OnClick="@(async () => await ChangePassword())">
                                @if (_submitting)
                                {
                                    <MudProgressCircular Class="ms-n1" Size="MudBlazor.Size.Small" Indeterminate="true" />
                                    <MudText Class="ms-2">@ConstantString.Waiting </MudText>
                                }
                                else
                                {
                                    <MudText>@L["Change Password"]</MudText>
                                }
                                </MudButton>
                        </MudItem>
                    </MudGrid>
                </MudForm>
            </MudTabPanel>
            <MudTabPanel Text="@L["Org Chart"]">
                <div class="chart-container"
                     style="height: calc(100vh - 265px);"></div>
            </MudTabPanel>
        </MudTabs>
        }
    </ChildContent>
    <ErrorContent>
        <CustomError Exception="context"></CustomError>
    </ErrorContent>
</ErrorBoundary>

