@page "/pages/authentication/resetpasswordconfirmation"
@inject IStringLocalizer<ResetPasswordConfirmation> L
<PageTitle>@L["Reset password confirmation"]</PageTitle>


<MudText Typo="Typo.h4" GutterBottom="true">@L["Reset password confirmation"]</MudText>
<p>
    @L["Your password has been reset."] <a class="mud-button-root mud-button mud-button-text mud-button-text-default mud-button-text-size-medium mud-ripple" href="@Login.PageUrl">@L["Please click here to log in"]</a>.
</p>

@code{
    public const string PageUrl = "/pages/authentication/resetpasswordconfirmation";
}