@page "/pages/documents"

@using AutoMapper;
@using BlazorDownloadFile
@using CleanArchitecture.Blazor.Application.Common.Interfaces.MultiTenant
@using CleanArchitecture.Blazor.Application.Features.Documents.Caching;
@using CleanArchitecture.Blazor.Application.Features.Documents.Commands.Delete
@using CleanArchitecture.Blazor.Application.Features.Documents.DTOs
@using CleanArchitecture.Blazor.Application.Features.Documents.Commands.AddEdit
@using CleanArchitecture.Blazor.Application.Features.Documents.Queries.PaginationQuery
@using CleanArchitecture.Blazor.Infrastructure.Hubs

@inject IJSRuntime JS
@inject IStringLocalizer<Documents> L
@implements IDisposable
@inherits FluxorComponent
@attribute [Authorize(Policy = Permissions.Documents.View)]
<PageTitle>@Title</PageTitle>
<style>
    .mud-table-toolbar {
        height: 120px !important;
    }
</style>
<ErrorBoundary>
    <ChildContent>

        <MudTable ServerData="@(new Func<TableState, Task<TableData<DocumentDto>>>(ServerReload))"
                  FixedHeader="true"
                  FixedFooter="true"
                  Virtualize="true"
                  @bind-RowsPerPage="_defaultPageSize"
                  Height="calc(100vh - 300px)"
                  Loading="@_loading"
                  SortLabel="@ConstantString.ORDERBY"
                  MultiSelection="true"
                  @bind-SelectedItems="_selectedItems"
                  Hover="true" @ref="_table">
            <ToolBarContent>
                <div class="d-flex align-start flex-grow-1">
                    <div class="d-flex gap-4">
                        <MudIcon Icon="@Icons.Material.Filled.DocumentScanner" Size="Size.Large" />
                        <div class="d-flex flex-column">
                            <MudText Typo="Typo.caption">@L["Documents"]</MudText>
                            <MudEnumSelect Style="min-width:120px" TEnum="DocumentListView" ValueChanged="OnChangedListView" Value="_query.ListView" Dense="true" Label="List View">
                            </MudEnumSelect>
                        </div>
                    </div>
                    <div class="flex-grow-1" />

                    <div class="d-flex flex-column justify-end">
                        <div class="d-flex">
                            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                                <MudButton DisableElevation Variant="Variant.Outlined"
                                           Size="Size.Small"
                                           Disabled="@_loading"
                                           OnClick="@(()=>OnRefresh())"
                                           StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Primary"
                                           Style="margin-right: 4px; margin-bottom:4px">@ConstantString.REFRESH</MudButton>
                                @if (_canCreate)
                                {
                                    <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.Camera"
                                           Size="Size.Small"
                                           Disabled="@_loading"
                                           OnClick="OnCreate"
                                           Style="margin-right: 4px; margin-bottom:4px"
                                           IconColor="Color.Surface">@L["Upload Pictures"]</MudButton>
                                }
                                @if (_canDelete)
                                {
                                    <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Error"
                                           StartIcon="@Icons.Material.Filled.Delete"
                                           Disabled="@(!(_selectedItems.Count>0))"
                                           Size="Size.Small"
                                           Style="margin-right: 4px; margin-bottom:4px"
                                           OnClick="OnDeleteChecked"
                                           IconColor="Color.Surface">@ConstantString.DELETE</MudButton>
                                }


                            </MudHidden>
                            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                                <MudMenu AnchorOrigin="Origin.BottomLeft" StartIcon="@Icons.Material.Filled.KeyboardCommandKey" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="@L["Action"]" Color="Color.Primary" Variant="Variant.Filled">
                                    <MudMenuItem Disabled="@_loading" OnClick="@(()=>OnRefresh())">@ConstantString.REFRESH</MudMenuItem>
                                    @if (_canCreate)
                                    {
                                        <MudMenuItem Disabled="@_loading" OnClick="OnCreate">@L["Upload Pictures"]</MudMenuItem>
                                    }
                                    @if (_canDelete)
                                    {
                                        <MudMenuItem OnClick="OnDeleteChecked">@ConstantString.DELETE</MudMenuItem>
                                    }

                                </MudMenu>
                            </MudHidden>
                        </div>
                        @if (_canSearch)
                        {
                            <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Value="@_searchString" Placeholder="@ConstantString.SEARCH" Adornment="Adornment.End"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0"></MudTextField>
                        }

                    </div>
                </div>
            </ToolBarContent>
            <ColGroup>
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <col style="width:48px;" />
                    <col style="width:118px;" />
                    <col style="width:200px;" />
                    <col />
                    <col style="width:160px;" />
                </MudHidden>
            </ColGroup>
            <HeaderContent>
                <MudTh>@ConstantString.ACTIONS</MudTh>
                <MudTh><MudTableSortLabel SortLabel="Title" T="DocumentDto">@L["Title"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Title" T="DocumentDto">@L["Recognize result"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="DocumentType" T="DocumentDto">@L["Document Type"]</MudTableSortLabel></MudTh>
                <MudTh>@L["Owner"]</MudTh>
                <MudTh>@L["Tenant Name"]</MudTh>

            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="@ConstantString.ACTIONS">
                    @if (_canEdit || _canDelete || _canDownload)
                    {
                        <MudMenu Label="@ConstantString.ACTIONS" Variant="Variant.Filled" DisableElevation="true" Size="Size.Small"
                             Dense="true"
                             EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Info" AnchorOrigin="Origin.CenterRight">
                            @if (_canEdit)
                            {
                                <MudMenuItem OnClick="@(()=>OnEdit(context))">@ConstantString.EDIT</MudMenuItem>
                            }
                            @if (_canDelete)
                            {
                                <MudMenuItem OnClick="@(()=>OnDelete(context))">@ConstantString.DELETE</MudMenuItem>
                            }
                            @if (_canDownload)
                            {
                                <MudMenuItem Disabled="@_downloading" OnClick="@(()=>OnDownload(context))">@ConstantString.DOWNLOAD</MudMenuItem>
                            }
                        </MudMenu>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" DisableElevation="true"
                               StartIcon="@Icons.Material.Filled.DoNotTouch" IconColor="Color.Secondary" Size="Size.Small"
                               Color="Color.Surface">
                            @ConstantString.NOALLOWED
                        </MudButton>
                    }
                </MudTd>

                <MudTd DataLabel="@L["Title"]">
                    <div class="d-flex flex-column">
                        <MudText>@context.Title</MudText>
                        <MudText Typo="Typo.body2">@context.Description</MudText>
                    </div>
                </MudTd>
                <MudTd DataLabel="@L["Recognize result"]">
                    <div class="d-flex flex-column">
                        <div class="flex-grow-0">
                            @switch (context.Status)
                            {
                                case JobStatus.Queueing:
                                    <MudChip Variant="Variant.Outlined" Size="Size.Small" Color="Color.Default" Disabled="true">@context.Status</MudChip>
                                    break;
                                case JobStatus.Doing:
                                    <MudChip Icon="@Icons.Material.Outlined.DocumentScanner" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Info"> @context.Status</MudChip>
                                    break;
                                case JobStatus.Done:
                                    <MudChip Icon="@Icons.Material.Filled.Done" Variant="Variant.Filled" Size="Size.Small" Color="Color.Success">@context.Status</MudChip>
                                    break;
                                default:
                                    <MudChip Variant="Variant.Outlined" Size="Size.Small" Color="Color.Primary">@context.Status</MudChip>
                                    break;
                            }
                        </div>
                        <div class="flex-grow-0">
                            <MudHighlighter Typo="Typo.body2" Text="@context.Content" HighlightedText="@_searchString"></MudHighlighter>
                        </div>
                    </div>
                </MudTd>
                <MudTd HideSmall="true" DataLabel="@L["Document Type"]">
                    <div class="d-flex flex-column">
                        <MudCheckBox Size="Size.Small" Label="@L["Is Public"]" Checked="@context.IsPublic" Disabled="true"></MudCheckBox>
                        <MudText Typo="Typo.body2">@context.DocumentType</MudText>
                    </div>
                </MudTd>
                <MudTd DataLabel="@L["Owner Name"]">
                    @if (UserProfile.UserId == context.Owner.Id)
                    {
                        <MudChip Icon="@Icons.Material.Filled.Person" Color="Color.Primary"> Me </MudChip>
                    }
                    else
                    {
                        <div class="d-flex flex-column">
                            <MudText>@context.Owner?.DisplayName</MudText>
                            <MudText Typo="Typo.body2">@context.Owner?.Email</MudText>
                        </div>
                    }
                </MudTd>
                <MudTd DataLabel="@L["Tenant Name"]">
                    <div class="d-flex flex-column">
                        <MudText>@context.TenantName</MudText>
                        <MudText Typo="Typo.body2">@context.TenantId</MudText>
                    </div>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>@ConstantString.NOMACHING</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>@ConstantString.LOADING</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager PageSizeOptions="@(new int[]{10,15,30,50,100,500,1000})" />
            </PagerContent>
        </MudTable>
    </ChildContent>
    <ErrorContent>
        <CustomError Exception="context"></CustomError>
    </ErrorContent>
</ErrorBoundary>
@code {
    [Inject]
    private IState<UserProfileState> UserProfileState { get; set; } = null!;
    private UserProfile UserProfile => UserProfileState.Value.UserProfile;
    public string? Title { get; private set; }
    private HashSet<DocumentDto> _selectedItems = new HashSet<DocumentDto>();
    private MudTable<DocumentDto> _table = default!;
    private int _defaultPageSize = 15;
    private string _searchString = string.Empty;
    private bool _downloading = false;
    private bool _loading;
    [Inject]
    private ITenantProvider _tenantProvider { get; set; } = default!;
    [Inject]
    IBlazorDownloadFileService BlazorDownloadFileService { get; set; } = null!;
    [Inject]
    private IMediator _mediator { get; set; } = default!;
    [Inject]
    private HubClient _client { get; set; } = default!;
    [Inject]
    private IMapper _mapper { get; set; } = default!;

    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; } = default!;
    private string _tenantId = string.Empty;
    private DocumentsWithPaginationQuery _query { get; set; } =null!;

    private bool _canSearch;
    private bool _canCreate;
    private bool _canEdit;
    private bool _canDelete;
    private bool _canImport;
    private bool _canExport;
    private bool _canDownload;
    protected override async Task OnInitializedAsync()
    {
        Title = L["Documents"];
        var state = await _authState;
        _canCreate = (await AuthService.AuthorizeAsync(state.User, Permissions.Documents.Create)).Succeeded;
        _canSearch = (await AuthService.AuthorizeAsync(state.User, Permissions.Documents.Search)).Succeeded;
        _canEdit = (await AuthService.AuthorizeAsync(state.User, Permissions.Documents.Edit)).Succeeded;
        _canDelete = (await AuthService.AuthorizeAsync(state.User, Permissions.Documents.Delete)).Succeeded;
        _canImport = (await AuthService.AuthorizeAsync(state.User, Permissions.Documents.Import)).Succeeded;
        _canExport = (await AuthService.AuthorizeAsync(state.User, Permissions.Documents.Export)).Succeeded;
        _canDownload = (await AuthService.AuthorizeAsync(state.User, Permissions.Documents.Download)).Succeeded;
        _tenantId = _tenantProvider.TenantId;
        _client.JobCompleted += _client_JobCompleted;
        _client.JobStarted += _client_JobStarted;
        _query = new DocumentsWithPaginationQuery() { CurrentUser = UserProfile };
    }
    private void _client_JobCompleted(object? sender, string e)
    {
        InvokeAsync(async () =>
        {
            await _table.ReloadServerData();
            Snackbar.Add(string.Format(L["{0} recognize completed."], e), MudBlazor.Severity.Success);
        });
    }
    private void _client_JobStarted(object? sender, string e)
    {
        InvokeAsync(async () =>
        {
            await _table.ReloadServerData();
            Snackbar.Add(string.Format(L["{0} job started."], e), MudBlazor.Severity.Info);
        });
    }

    public void Dispose()
    {
        _client.JobCompleted -= _client_JobCompleted;
        _client.JobStarted -= _client_JobStarted;
    }
    private async Task<TableData<DocumentDto>> ServerReload(TableState state)
    {
        try
        {
            _loading = true;
            _query.Keyword = _searchString;
            _query.CurrentUser = UserProfile;
            _query.OrderBy = string.IsNullOrEmpty(state.SortLabel) ? "Id" : state.SortLabel;
            _query.SortDirection = (state.SortDirection == SortDirection.None ? SortDirection.Descending.ToString() : state.SortDirection.ToString());
            _query.PageNumber = state.Page + 1;
            _query.PageSize = state.PageSize;
            var result = await _mediator.Send(_query).ConfigureAwait(false);
            return new TableData<DocumentDto>() { TotalItems = result.TotalItems, Items = result.Items };
        }
        finally
        {
            _loading = false;
        }

    }

    private void OnFilterChanged(string s)
    {
        InvokeAsync(async () =>
        {
            await _table.ReloadServerData();
        });
    }
    private async Task OnChangedListView(DocumentListView listview)
    {
        _query.ListView = listview;
        await _table.ReloadServerData();
    }
    private async Task OnSearch(string text)
    {
        DocumentCacheKey.Refresh();
        _selectedItems = new();
        _searchString = text;
        await _table.ReloadServerData();
    }
    private async Task OnRefresh()
    {
        _selectedItems = new();
        _searchString = string.Empty;
        await _table.ReloadServerData();
    }
    private async Task OnCreate()
    {
        var command = new AddEditDocumentCommand() { DocumentType = DocumentType.Document };
        var parameters = new DialogParameters
            {
        { nameof(_DocumentFormDialog.model),command },
            };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<_UploadFilesFormDialog>
        (L["Upload Pictures"], parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
            Snackbar.Add(ConstantString.UPLOADSUCCESS, MudBlazor.Severity.Info);
        }
    }
    private async Task OnEdit(DocumentDto dto)
    {
        var command = _mapper.Map<AddEditDocumentCommand>(dto);
        var parameters = new DialogParameters
                {
                    { nameof(DeleteConfirmation.Command),  command },
                    { nameof(_DocumentFormDialog.model),command },
                };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<_DocumentFormDialog>(string.Format(ConstantString.EDITTHEITEM, L["Document"]), parameters, options);

        await Task.Delay(300);
        await JS.InvokeVoidAsync("showOpenSeadragon", "openseadragon", dto.URL);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
        }
    }

    private async Task OnDelete(DocumentDto dto)
    {
        var command = new DeleteDocumentCommand(new int[] { dto.Id });
        var parameters = new DialogParameters
                            {
                            { nameof(DeleteConfirmation.Command),  command },
                            { nameof(DeleteConfirmation.ContentText), string.Format(ConstantString.DELETECONFIRMATION, dto.Title) }
                    };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
        var dialog = DialogService.Show<DeleteConfirmation>(string.Format(ConstantString.EDITTHEITEM, L["Document"]), parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
        }
    }

    private async Task OnDeleteChecked()
    {
        var command = new DeleteDocumentCommand(_selectedItems.Select(x => x.Id).ToArray());
        var parameters = new DialogParameters
                            {
                            { nameof(DeleteConfirmation.Command),  command },
                            { nameof(DeleteConfirmation.ContentText), string.Format(ConstantString.DELETECONFIRMWITHSELECTED,_selectedItems.Count) }
                    };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, DisableBackdropClick = true };
        var dialog = DialogService.Show<DeleteConfirmation>
        (string.Format(ConstantString.DELETETHEITEM, L["Document"]), parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
        }
    }
    private async Task OnDownload(DocumentDto dto)
    {

        try
        {
            _downloading = true;
            var file = await _mediator.Send(new GetFileStreamQuery(dto.Id));
            if (file.Item2 != null)
            {
                var result = await BlazorDownloadFileService.DownloadFile(file.Item1, file.Item2, "application/octet-stream");
            }
        }
        catch (Exception e)
        {
            Snackbar.Add($"{e.Message}", MudBlazor.Severity.Error);
        }
        finally
        {
            _downloading = false;
        }
    }
}
